<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>
    <script src="https://kit.fontawesome.com/1e4338f9da.js" crossorigin="anonymous"></script>
    <script>
      //Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
    </script>
    <style>
      #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet' %}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-cyborg-gaming.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/images/logo.png' %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
<!--                    <div class="search-input">-->
<!--                      <form id="search" action="#">-->
<!--                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />-->
<!--                        <i class="fa fa-search"></i>-->
<!--                      </form>-->
<!--                    </div>-->
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="http://127.0.0.1:8000/wallapp/indexpage/" >Home</a></li>
                        <li><a href="http://127.0.0.1:8000/wallapp/userregistration/">Register</a></li>
                        <li></li>
<!--                        <li><a href="streams.html">Streams</a></li>-->
<!--                        <li><a href="profile.html">Profile <img src=" {% static 'assets/images/profile-header.jpg' %}" alt=""></a></li>-->
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Cyborg</h6>
                  <h4><em>Browse</em> Our Popular Wallpaper Here</h4>
                  <div class="main-button">
                    <a href="http://127.0.0.1:8000/wallapp/userlogin/">LOGIN</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Most Popular</em> Categories</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src="{% static 'assets/images/amoleds.jpg' %}" alt="">
                      <h2>AMOLED</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src="{% static 'assets/images/abstracts.jpg' %}" alt="">
                      <h2>ABSTRACT</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src=" {% static 'assets/images/darks.jpeg' %}" alt="">
                      <h2>DARK</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src="{% static 'assets/images/movies.jpeg ' %}" alt="">
                      <h2>MOVIES</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
<!--                  <div class="col-lg-6">-->
<!--                    <div class="item">-->
<!--                      <div class="row">-->
<!--                        <div class="col-lg-6 col-sm-6">-->
<!--                          <div class="item inner-item">-->
<!--                            <img height="480" src="{% static 'assets/images/girl.jpg' %}" alt="">-->
<!--                            <h2>GIRL</h2>-->
<!--&lt;!&ndash;                            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                              <li><i class="fa fa-star"></i> 4.8</li>&ndash;&gt;-->
<!--&lt;!&ndash;                              <li><i class="fa fa-download"></i> 2.3M</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--                          </div>-->
<!--                        </div>-->
                        <div class="col-lg-6 col-sm-6">
                          <div class="item">
                            <img height="480" src="{% static 'assets/images/animal.jpg' %}" alt="">
                            <h2>ANIMALS</h2>
<!--                            <ul>-->
<!--                              <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                              <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                            </ul>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src="{% static 'assets/images/girl.jpg' %}" alt="">
                      <h2>GIRL</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img height="480" src=" {% static 'assets/images/nature.jpeg' %}" alt="">
                      <h2>NATURE</h2>
<!--                      <ul>-->
<!--                        <li><i class="fa fa-star"></i> 4.8</li>-->
<!--                        <li><i class="fa fa-download"></i> 2.3M</li>-->
<!--                      </ul>-->
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="http://127.0.0.1:8000/wallapp/userregistration/">Register Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
          <!-- ***** Most Popular End ***** -->

{% include 'indexfooter.html'%}
<!--  <footer>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved. -->
<!--          -->
<!--          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/tabs.js '%}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>


  </body>

</html>
