<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'like_wallpaper' wallpaper.pk %}" method="post">
    {% csrf_token %}
    {% if user in wallpaper.liked_by.all %}
        <button type="submit" class="like-button" disabled>Liked</button>
    {% else %}
        <button type="submit" class="like-button">Like</button>
    {% endif %}
    <span class="like-count">{{ wallpaper.likes }}</span>
</form>


</body>
</html>